
{% extends "catalog/base_generic.html" %}
{% block content%}
        <div id="intro" class="shadow-2-strong">
            <div class="mask d-flex align-items-center h-100" style="background-color:lightgrey;">
                <div class="container">
                    <div class="row justify-content-end mt-5">
                        <div class="col-xl-10 col-md-10 mt-3">
                            <form class="bg-white rounded shadow-5-strong p-5" method="POST" action="">
                                <p class="text-danger text-center"></p>
                                {% csrf_token %}
                                <div class="form-outline mb-4">
                                    {{form.book_title}}
                                    <label class="form-label" for="form1Example1" name = "book_author">{{form.book_title.label}}</label>
                                </div>
                                 <div class="form-outline mb-4">
                                    {{form.copies}}
                                    <label class="form-label" for="form1Example1" name = "book_author">{{form.copies.label}}</label>
                                </div>
                                <div class="form-outline mb-4">
                                    {{form.book_isbn}}
                                    <label class="form-label" for="form1Example1" name = "book_author">{{form.book_isbn.label}}</label>
                                </div>
                                <div class="form-outline mb-4">
                                    {{form.book_summary}}
                                    <label class="form-label" for="form1Example1" name = "book_author">{{form.book_summary.label}}</label>
                                </div>
                                <div class="form-outline mb-4 mdb-select md-form">
                                    {{form.book_author}}
                                    <label class="form-label" for="form1Example1">{{form.book_author.label}}</label>
                                </div>
                                <div class="form-outline mb-4">
                                    {{form.book_genre}}
                                    <label class=" form-label" for="form1Example1" name = "book_author">{{form.book_genre.label}}</label>
                                </div>
                                <!-- Email input -->
                            
                                <!-- Password input -->
                                
                                <!-- 2 column grid layout for inline styling -->
                                
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-block text-white" style="background-color: #4a148c;">submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock%}
        